ul.animal_choice_type_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;

  li.animal_choice_type_items {
    position: relative;
    list-style: none;
    text-align: center;
    width: 120px;
    height: 120px;

    label {
      position: relative;
      cursor: pointer;
      width: 100%;
      height: 100%;

      input[type="radio"] {
        display: none;
      }

      svg {
        width: auto;
        height: 100%;
      }

      svg.cat {
        width: 60%;
        height: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
