.card-animal {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  max-height: 314px;

  &:hover {
    .card-animal-thumbnail {
      transform: scale(1.05);
      opacity: .6;
    }
  }

  .type-tag {
    z-index: 10;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 6px;
    color: #fff;
    border-radius: var(--bs-border-radius);
    background-color: var(--bs-secondary);

    svg {
      width: 32px;
      height: 22px;
    }
  }

  .card-animal-thumbnail {
    max-height: 275px;
    object-fit: cover;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    &.no-preview {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      max-height: 250px;
      height: 250px;
      width: 100%;
      background-color: var(--bs-gray-500);

      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 100px;
        height: 100px;
        path {
          fill: var(--bs-white);
        }
      }
    }
  }

  .card-animal-body {
    position: relative;
    bottom: 0;
    background: #fff;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    transition: all 0.3s cubic-bezier(.37, .75, .61, 1.05);

    .card-title {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .category-tag {
      position: absolute;
      top: -34px;
      left: 0;
      padding: 10px 15px;
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
      border-top-right-radius: var(--bs-border-radius);
      border-bottom-right-radius: var(--bs-border-radius);
      background-color: var(--bs-primary);
      &.lost {
        background-color: var(--bs-danger);
      }
      &.found {
        background-color: var(--bs-success);
      }
      &.seen {
        background-color: var(--bs-warning);
      }
      &.stolen {
        background-color: var(--bs-secondary);
      }
    }
  }
}
