<p>Bonjour {{ user.firstname }},</p>
<p>Une personne à connaît cet animal où lui appartient</p>
<p>Vous pouvez le contacter à cette adresse mail : {{ sender.email }}</p>
<p>Vous pouvez le contacter à ce numéro de téléphone : {{ sender.phone }}</p>

