.button-primary-link {
  text-decoration: none;
  border: 0 solid #e5e7eb;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  //background-color: #fff;
  box-shadow: inset 0 0 0 1px #dedee3;
  align-items: center;
  border-radius: 8px;
  font-size: 14px;
  line-height: 16px;
  transition: all .2s ease;
  padding: 16px 24px;
  color: var(--primary);
  background-color: var(--testtetetetete);

  &.btn-sm {
    padding: 8px 16px;
    font-size: 12px;
    line-height: 16px;
  }

  &:hover {
    color: var(--bs-white);
    background-color: var(--primary-light);
    box-shadow: inset 0 0 0 1px var(--primary-light);
  }

  &.active {
    color: #fff;
    background-color: var(--primary);
    box-shadow: inset 0 0 0 1px var(--primary-light);
  }

  &:disabled, &.disabled {
    background-color: #f5f5f7;
    color: #c4c4c4;
    box-shadow: inset 0 0 0 1px #e5e7eb;
    cursor: not-allowed;
  }

  &.is-invalid {
    box-shadow: inset 0 0 0 1px var(--bs-danger);
    &:focus {
      border-color: var(--danger);
    }
  }
}