.form-group.required .form-label:after {
  content: "*";
  color: red;
  margin-left: 5px;
}
/*color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #a9dbd4;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(82, 183, 168, 0.25);*/
.react-select__container {
  &.react-select__control--is-focused {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: var(--primary);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(82, 183, 168, 0.25);
  }

  &.is-invalid {
    &:focus {
      border-color: var(--bs-danger);
    }
    .react-select__control {
      border-color: var(--bs-danger);
      box-shadow: none;

      &.react-select__control--is-focused {
        color: var(--bs-body-color);
        background-color: var(--bs-body-bg);
        border-color: var(--bs-danger);
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(var(--bs-danger-rgb), 0.25);
      }
    }
  }

  .react-select__control {
    &.react-select__control--is-focused {
      color: var(--bs-body-color);
      background-color: var(--bs-body-bg);
      border-color: var(--primary);
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25);
    }
  }
}