@import "variable";
@import "react-toastify/scss/main.scss";
@import "bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "button";
@import "main-screen";
@import "form";

.btn-outline-primary {
  background-color: var(--primary-light);
  box-shadow: inset 0 0 0 1px var(--primary-light);
}

body {
  background-color: white !important
}

.fs-7 {
  font-size: 0.875rem !important;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

input::placeholder {
  color: rgba(108, 117, 125, .5) !important;
}

.col-my-animal-delete-image {
  position: relative;
  .card-delete-image {
    z-index: 999;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: var(--bs-danger);
    color: white;
    padding: 3px 7px;
    border-radius: var(--bs-border-radius);
    opacity: 0;
    cursor: pointer;
    transition: all 0.1s;
  }

  &:hover {
    .card-delete-image {
      opacity: 1;
    }
  }
}

.upload-profile-image-parent {
  position: relative;
  width: 96px;
  height: 96px;
  .upload-profile-image {
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(var(--bs-primary-rgb), 0);
    color: white;
    border-radius: var(--bs-border-radius);
    cursor: pointer;
    width: 100%;
    height: 100%;
    i {
      opacity: 0;
    }

    &:hover {
      background-color: rgba(var(--bs-primary-rgb), .8);
      i {
        opacity: 1;
      }
    }
  }
}


