.login-screen-container, .register-screen-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  @media (max-width: 576px) {
    height: auto;
  }

  main.login-screen, main.register-screen {
    z-index: 1;
    position: relative;
    background-size: cover;
    background-position: center;
    background-image: url("../../../public/static/login-background.jpg");
    display: flex;
    align-items: center;
    justify-content: flex-start;

    overflow: hidden;

    .card {
      width: 572px;
    }

    @media (max-width: 768px) {
      .card {
        width: 100%;
      }
    }

    flex: 1;

    &::before {
      z-index: -1;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
    }


    .login-screen-overlay, .register-screen-overlay {
      z-index: -1;
      content: '';
      position: absolute;
      top: 10%;
      left: 10%;
      width: 100%;
      height: 100%;
      filter: blur(8px); /* Adjust the blur radius as needed */
      background: linear-gradient(to top left, rgba(0, 0, 0, 0.5) 50%, transparent 50%);
    }
  }
}

