$primary: #A67051;
$primary-light: #BF947A;
$primary-dark: #674633;

:root {
  --primary: #A67051;
  --primary-light: #BF947A;
  --primary-dark: #674633;
}

//$breadcrumb-divider: quote(">");
//$breadcrumb-divider: quote("\00bb");