.item-container {
  padding: 20px 32px 16px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .item-icon {
    color: rgba(99, 99, 120, 1);
    position: absolute;
    top: 30px;
    font-size: 24px;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    text-transform: none;
  }

  .item-title {
    color: rgb(50, 50, 78);
  }

  @media (max-width: 768px) {
    .button-link {
      width: 100%;
      button {
        width: 100%;
      }
    }
  }

  .button-link {
    text-decoration: none;
  }

  &:hover {
    .button-link {
      .item-button {
        background-color: var(--primary-light);
        box-shadow: inset 0 0 0 1px var(--primary-light);
      }
    }

    .button-primary-link {
      color: var(--bs-white);
      background-color: var(--primary-light);
      box-shadow: inset 0 0 0 1px var(--primary-light);
    }
  }
}