.navbar-container {
  a.nav-link {
    color: #2e2e2e;
    font-size: 14px;
    font-weight: 600;

    &:hover:not(.nav-link-button), &.active:not(.nav-link-button) {
      color: var(--bs-primary) !important;
    }

    &.nav-link-button {
      &:hover {
        background-color: var(--bs-primary-text-emphasis);
      }
    }
  }
}